.curved-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.curved-gallery img {
  width: 100%;
}

.logo-slider {
  background-color: #f8f9fa;
  padding: 60px 0;
  overflow: hidden;
}

.slider-section {
  background: linear-gradient(180deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
}

.logo-slide-track {
  display: flex;
  animation: scroll 30s linear infinite;
  width: calc(200px * 16);
  /* Double the number of logos for seamless loop */
}

.logo-slide {
  width: 200px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.logo-container {
  /* background-color: white; */
  border-radius: 8px;
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08); */
  /* padding: 20px; */
  /* width: 160px; */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.logo-text {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-200px * 8));
    /* Move by half the total width */
  }
}

/* Pause animation on hover */
.logo-slider-container:hover .logo-slide-track {
  animation-play-state: paused;
}

.Content-section {
  padding: 150px 0px;
}

.Content-section .title-content {
  text-align: center;
  font-family: Outfit;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: 0px;
}

.Content-section .paragraph {
  line-height: 22px;
  color: var(--text-gray);
  font-size: 18px;
  text-align: center;
  margin: 12px 0 28px;
}

.custom-container {
  max-width: 1180px;
}

.pills-image {
  margin: 0 20px;
}

@media(max-width: 1399px) {
  .Content-section {
    padding: 120px 0px;
  }
}

@media(max-width: 1180px) {
  .Content-section {
    padding: 100px 0px;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .Content-section {
    padding: 75px 0px;
  }

  .logo-slide {
    width: 150px;
  }

  .logo-container {
    width: 130px;
  }

  .logo-text {
    font-size: 17px;
  }

  .curved-gallery img:first-child,
  .curved-gallery img:last-child {
    display: none;
  }
}

@media (max-width: 576px) {
  .Content-section {
    padding: 45px 0px;
  }

  .logo-slide {
    width: 120px;
    padding: 0 4px;
  }

  .logo-container {
    width: 100px;
    padding: 16px 8px;
  }

  .logo-text {
    font-size: 14px;
  }
}

.marketing-section {
  background: #000;
}

.marketing-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 60px;
}

.marketing-section .header h2 {
  color: #fff;
  font-weight: 400;
  max-width: 500px;
  line-height: 1.2;
}


.view-all-btn {
  background: linear-gradient(180deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  /* border-radius: 50px; */
  /* font-size: 1rem; */
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.view-all-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(124, 58, 237, 0.3);
}

/* Services Grid */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.service {
  position: relative;
  padding: 40px 60px;
  border-bottom: 1px solid var(--border-dark-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.service-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #fff;
  flex-grow: 1;
  width: 100%;


  & .service-number {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1;
  width: 100%;
}

.tag {
  color: #fff;
  padding: 8px 14px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid var(--border-dark-color);
  transition: all 0.3s ease;
}

.arrow-div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  position: relative;
}

.arrow-btn {
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: flex-start;
  margin-top: auto;
  color: #fff;
  transition: all ease-in-out 0.3s;


}

.arrow-bg-image {
  width: 0px;
  height: 0px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 18px;
  aspect-ratio: 1 / 1;
  object-position: center;
  transform: rotate(0);
  transition: all ease-in-out 0.3s;
  box-shadow: none;
  position: absolute;


  & img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.service:hover {
  cursor: pointer;
}

.service:hover .service-title {
  color: var(--primary-purple);


  & .service-number {
    color: #fff;
    opacity: 0.8;
  }
}

.service:hover .arrow-btn {
  box-shadow: 0 0 8px 4px var(--border-dark-color);
  transform: rotate(45deg);
  border: 2px solid var(--primary-purple);
  background: var(--primary-purple);
  transition: all ease-in-out 0.3s;
  z-index: 9;
}

.service:hover .arrow-bg-image {
  width: 200px;
  height: 200px;
  transform: rotate(-25deg);
  box-shadow: 0 0 24px 8px var(--border-dark-color);
  transition: all ease-in-out 0.3s;
  z-index: 8;
}


.choose-us-image {
  aspect-ratio: 4 / 1;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 24px;
  object-position: center;
  position: relative;

  & img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 4 / 1;
  }

  & .choose-project {
    position: absolute;
    bottom: 0;
    padding: 8px 8px 0 8px;
    background: #fff;
    border-radius: 14px 14px 0 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.choose-project::before {
  content: '';
  width: 20px;
  position: absolute;
  height: 20px;
  background: transparent;
  left: -14px;
  bottom: -6px;
  border-right: 6px solid;
  border-bottom: 6px solid;
  border-color: #fff;
  border-radius: 0 0 20px 0;
}


.choose-project::after {
  content: '';
  width: 20px;
  position: absolute;
  height: 20px;
  background: transparent;
  right: -14px;
  bottom: -6px;
  border-left: 6px solid;
  border-bottom: 6px solid;
  border-color: #fff;
  border-radius: 0 0 0 20px;
}


/* Layout Fix for App Development Row */
.service.app-dev {
  display: flex;
  flex-direction: column;
  position: relative;
}

.app-dev .content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-dev .arrow-btn {
  margin-top: auto;
}


/* =============================================================== */


.project-card {
  background: white;
  overflow: hidden;
  height: 100%;
  box-shadow: none;
}

.project-image {
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  aspect-ratio: 4 / 5;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  object-position: center;
  position: relative
}

.custom-slider-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.wx-500 {
  max-width: 600px;
}

.slider-buttons {
  position: relative;
  background-color: transparent;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  min-width: 146px;
  max-width: fit-content;
  padding: 0px;
}

.swiper-wrapper .project-content {
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  padding: 14px;
  overflow: hidden;

  & .project-title {
    font-size: 18px;
    font-weight: 400;
  }

  & .tags {
    gap: 8px;

    & .tag {
      color: #000;
      padding: 6px 12px;
      border-radius: 50px;
      font-size: 13px;
      font-weight: 400;
      border: 1px solid var(--border-dark-color);
      transition: all 0.3s ease;
    }
  }

  & .project-card-button {
    position: absolute;
    top: -14px;
    right: -14px;
    padding: 25px 25px 13px 13px;
    border-radius: 64% 20px;

    & svg {
      transition: all ease-in-out 0.3s;
    }
  }
}

.swiper-wrapper .project-card:hover {
  & .project-image img {
    transform: scale(1.1);
  }

  & .project-title {
    color: var(--primary-purple);
  }

  & .project-card-button svg {
    transform: rotate(45deg);
    transition: all ease-in-out 0.3s;
  }
}

.project-features {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.project-features li {
  padding: 5px 0;
  color: #34495e;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}

.project-features li i {
  color: #2ecc71;
  margin-right: 8px;
  font-size: 0.8rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-purple);
  background: white;
  width: 60px;
  height: 45px;
  border-radius: 8px;
  border: 2px solid var(--primary-purple);
  display: flex;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: linear-gradient(180deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  color: #fff;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
  font-weight: bold;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #bdc3c7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #3498db;
}

.view-all-btn {
  display: block;
  width: 200px;
  margin: 0px auto;
  /* padding: 12px 20px; */
  /* background-color: #3498db; */
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.view-all-btn:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: white;
}

.tech-slider-section .slider-section:first-child {
  margin: 3rem -10px 7rem;
  width: calc(100% + 20px);
  transform: rotate(-3deg);
}


/* Responsive Adjustments */
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .view-all-btn {
    margin: 0 auto;
  }

  .app-image {
    width: 150px;
    bottom: -2rem;
    right: 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }

  .service {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .arrow-div {
    padding: 48px;
  }

  .Content-section .title-content {
    font-size: 24px;

    & img {
      max-width: 84px;
      width: 100%;
    }
  }

  .slider-buttons {
    min-width: 120px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 44px;
    height: 40px;
  }


  .service-title {
    font-size: 1.4rem;
  }

  .tags {
    gap: 0.5rem;
  }

  .tag {
    font-size: 0.85rem;
    padding: 0.4rem 0.85rem;
  }

  .app-image {
    width: 130px;
    bottom: -1.5rem;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.6rem;
  }

  .view-all-btn {
    font-size: 0.9rem;
    padding: 0.65rem 1.2rem;
  }

  .service-number {
    font-size: 1rem;
  }

  .service-title {
    font-size: 1.25rem;
  }

  .app-image {
    display: none;
    /* Hide on very small screens */
  }
}